:root {
    --azul1: #014399;
    --azul2: #004298;
    --branco:#FFFFFF;
    --cinza: #F4F6F8;
    --preto: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cinza);
    color: var(--preto);
}

header {
    background-color: var(--azul1);
    color: var(--branco);   
}

header div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

header nav button {
    background-color: var(--azul2);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}