@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul1: #0452b8;
    --azul2: #022553;
    --branco:#FFFFFF;
    --cinza: #F4F6F8;
    --preto: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cinza);
    color: var(--preto);
}

header {
    background: linear-gradient(to bottom, var(--azul1), var(--azul2));
    color: var(--branco);   
}

header div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

header nav button {
    background-color: var(--azul2);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

section.intro {
    background-color: lightgray;
    padding: 60px 20px;
    text-align: center;
}

section.gallery {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

footer {
    background-color: var(--azul1);
    color: var(--branco);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}